# Byte-compiled / cache files
__pycache__/
*/__pycache__/
**/__pycache__/
.ipynb_checkpoints/

# Experiment outputs
exps/*/jobs/*.slurm
exps/*/logs/*.out
exps/*/results/*.h5
exps/*/plots/*

# macOS system file
**/.DS_Store