# Byte-compiled / cache files
__pycache__/
*/__pycache__/
**/__pycache__/

# Experiment outputs
exps/*/jobs/*.slurm
exps/*/outputs/*.out
exps/*/results/*.h5
exps/*/*.h5

# macOS system file
**/.DS_Store